---
import { Icon } from 'astro-icon/components';

type Translations = typeof import('../../i18n/es').default;
type DescriptionContent = Translations['info']['description'];
interface Props {
  content: DescriptionContent;
}
const { content } = Astro.props as Props;
---

<section class="w-full flex justify-center items-center relative">
  <Icon
    name={'fondo-menu'}
    class={'absolute top-0 w-full h-auto z-10 left-0'}
    style="--fondo-color:#47A9FE; --wave-color:#F4AA02; --dots-color:#47A9FE"
  />
  <div
    class="pt-[100px] md:pt-50 pb-[89px] w-full max-w-screen xl:w-[1211px] px-6 xl:px-0 flex flex-col justify-center items-center relative gap-20"
  >
    <div
      class="w-full flex flex-col md:flex-row justify-between items-center gap-8"
    >
      <p
        class="text-[16px] leading-[140%] font-light max-w-[468px] order-2 lg:order-1"
        set:html={content.text}
        data-aos="fade-right"
        data-aos-offset="200"
      />
      <div
        class="relative w-full h-[250px] md:h-[360px] rounded-[40px] bg-accent-2 max-w-[671px] order-1 lg:order-2 flex justify-center items-center overflow-hidden"
        data-aos="fade-left"
        data-aos-offset="200"
      >
        <img
          src="/info/info-1.webp"
          alt="Imagen de Grupo de Los Amecas"
          width="716"
          height="955"
          class="inset-0 absolute w-full h-full object-cover object-center pointer-events-none"
        />
      </div>
    </div>
    <div
      class="w-full flex flex-col md:flex-row justify-center items-center gap-0 md:gap-[70px] lg:gap-[105px]"
      data-aos="zoom-in"
      data-aos-offset="200"
      id="contact"
    >
      <div class="flex flex-col justify-center items-start gap-[26px]">
        <h2
          set:html={content.schedules.title}
          class="text-[32px] uppercase leading-[120%] text-black font-bold"
        />
        <div class="flex flex-col justify-center items-start gap-[22px]">
          <div class="flex flex-col justify-center items-start gap-2">
            <p class="text-[24px] leading-[120%] uppercase font-bold">
              {content.schedules.hours.title}
            </p>
            <p
              set:html={content.schedules.hours.content}
              class="text-[16px] leading-[140%] font-light"
            />
          </div>
          <div class="flex flex-col justify-center items-start gap-2">
            <p class="text-[24px] leading-[120%] uppercase font-bold">
              {content.schedules.location.title}
            </p>
            <p
              set:html={content.schedules.location.content}
              class="text-[16px] leading-[140%] font-light"
            />
          </div>
          <div class="flex flex-col justify-center items-start gap-2">
            <p class="text-[24px] leading-[120%] uppercase font-bold">
              {content.schedules.contact.title}
            </p>
            <div class="flex flex-col justify-center items-start">
              <a
                href="tel:+14072031512"
                class="text-[16px] leading-[140%] font-light cursor-pointer hover:text-accent-3 hover:font-medium transform-all duration-300 ease-in-out"
                >+1 (407) 203 1512</a
              >
              <a
                href="https://mail.google.com/mail/?view=cm&fs=1&to=losamecastaqueria@outlook.com"
                target="_blank"
                rel="noopener noreferrer"
                class="text-[16px] leading-[140%] font-light cursor-pointer hover:text-accent-3 hover:font-medium transform-all duration-300 ease-in-out"
              >
                losamecastaqueria@outlook.com</a
              >
              <p
                set:html={content.schedules.contact.content}
                class="text-[16px] leading-[140%] font-light"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-[565px] h-auto">
        <div
          class="form-container"
          id="form-PCkWp42SNK0p18LYmYwt-wrapper"
          style="min-height:120px;"
        >
          <div
            class="form-placeholder"
            style="display:flex;align-items:center;justify-content:center;"
          >
            <small>Cargando formulario…</small>
          </div>
          <iframe
            data-src="https://link.inkshapecrm.com/widget/form/PCkWp42SNK0p18LYmYwt"
            style="width:100%;height:100%;border:none;border-radius:3px"
            id="inline-PCkWp42SNK0p18LYmYwt"
            data-layout="{'id':'INLINE'}"
            data-trigger-type="alwaysShow"
            data-trigger-value=""
            data-activation-type="alwaysActivated"
            data-activation-value=""
            data-deactivation-type="neverDeactivate"
            data-deactivation-value=""
            data-form-name="Form Website Contact US"
            data-height="539"
            data-layout-iframe-id="inline-PCkWp42SNK0p18LYmYwt"
            data-form-id="PCkWp42SNK0p18LYmYwt"
            title="Form Website Contact US"
            loading="lazy"
            sandbox="allow-forms allow-scripts allow-popups allow-same-origin"
          ></iframe>
        </div>
      </div>
    </div>
    <img
      src="/info/location.webp"
      alt="Mapa de ubicacion de Los Amecas"
      width="1212"
      height="314"
      class="w-full h-auto"
    />
  </div>
</section>
