---
import { Icon } from 'astro-icon/components';
import CarouselGallery from '../../components/CarouselGallery.astro';
type Translations = typeof import('../../i18n/es').default;
type GalleryContent = Translations['menu']['gallery'];
interface Props {
  content: GalleryContent;
}
const { content } = Astro.props as Props;
const galleryItems = [
  {
    imgSrc: '/menu/gallery-1.webp',
  },
  {
    imgSrc: '/menu/gallery-2.webp',
  },
  {
    imgSrc: '/menu/gallery-3.webp',
  },
  {
    imgSrc: '/menu/gallery-4.webp',
  },
  {
    imgSrc: '/menu/gallery-5.webp',
  },
  {
    imgSrc: '/menu/gallery-6.webp',
  },
  {
    imgSrc: '/menu/gallery-1.webp',
  },
  {
    imgSrc: '/menu/gallery-2.webp',
  },
  {
    imgSrc: '/menu/gallery-3.webp',
  },
  {
    imgSrc: '/menu/gallery-4.webp',
  },
  {
    imgSrc: '/menu/gallery-5.webp',
  },
  {
    imgSrc: '/menu/gallery-6.webp',
  },
  {
    imgSrc: '/menu/gallery-1.webp',
  },
  {
    imgSrc: '/menu/gallery-2.webp',
  },
  {
    imgSrc: '/menu/gallery-3.webp',
  },
  {
    imgSrc: '/menu/gallery-4.webp',
  },
  {
    imgSrc: '/menu/gallery-5.webp',
  },
  {
    imgSrc: '/menu/gallery-6.webp',
  },
];
const currentPath = Astro.url.pathname;
const normalized = currentPath.replace(/^\/(en|es)/, '') || '/';
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="bg-back w-full flex justify-center items-center relative"
>
  <Icon
    name={'border'}
    class={'text-accent-2 absolute top-0 w-full h-auto z-10 left-0'}
  />
  <div
    class="w-full max-w-screen md:w-[1211px] px-6 xl:px-0 pt-[100px] md:pt-[157px] pb-15 flex flex-col justify-center items-center gap-[79px]"
  >
    <div class="w-full flex flex-col justify-center items-start gap-5">
      <h3 class="text-secondary text-[24px] font-bold leading-[120%] uppercase">
        {content.title1}
      </h3>
      <nav class="flex justify-center items-center gap-8 flex-wrap">
        {
          content.menus.map((item) => (
            <a
              href={`/${lang}/menu/${item.href}`}
              class="bg-[#E24A75] hover:bg-accent-2 transition-all duration-300 ease-in-out flex justify-center items-center gap-2 pl-1.5 pr-4 py-[5px] rounded-4xl"
            >
              <div class="bg-white p-2 rounded-full flex justify-center items-center ">
                <Icon name={item.icon} class="w-6 h-6" />
              </div>
              <span class="text-[20px] font-normal leading-[120%] text-white">
                {item.label}
              </span>
            </a>
          ))
        }
      </nav>
    </div>
    <div class="w-full flex flex-col justify-center items-center gap-[50px]">
      <h2
        set:html={content.title}
        class="text-[37px] font-bold text-black leading-[121%] uppercase text-center"
      />
      {
        /*<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[50px] w-full">
        {
          galleryItems.map((item) => {
            return (
              <svg
                viewBox="0 0 387 187"
                width="100%"
                height="auto"
                xmlns="http://www.w3.org/2000/svg"
              >
                <defs>
                  <clipPath id="wavyClip">
                    <path d="M0 187C0.900685 181.273 3.07163 175.772 6.45794 171.091C12.0723 163.33 14.4876 153.111 12.9537 143.254C10.7992 129.41 16.3223 115.479 26.9174 108.032L27.7573 107.441C35.336 102.115 40.5395 93.4084 42.0653 83.5026C44.2036 69.6221 53.4653 58.4956 65.6367 55.1854L66.8724 54.8499C75.6512 52.4623 83.1545 46.0804 87.5901 37.2293C93.8236 24.7906 105.912 17.559 118.564 18.7003L119.579 18.7913C128.689 19.6131 137.705 16.232 144.555 9.42461C154.247 -0.20748 168.175 -2.65158 180.094 2.99552C188.584 7.01856 198.415 7.01856 206.906 2.99552C218.825 -2.65159 232.753 -0.20749 242.445 9.42461C249.295 16.232 258.311 19.6131 267.421 18.7913L268.436 18.7003C281.088 17.559 293.176 24.7905 299.41 37.2293C303.845 46.0803 311.349 52.4623 320.128 54.8499L321.363 55.1853C333.535 58.4956 342.796 69.6221 344.935 83.5026C346.46 93.4084 351.664 102.115 359.243 107.441L360.083 108.032C370.678 115.479 376.201 129.41 374.046 143.254C372.512 153.111 374.928 163.33 380.542 171.091C383.928 175.772 386.099 181.273 387 187L0 187Z" />
                  </clipPath>
                </defs>

                <image
                  href={item.imgSrc}
                  width="387"
                  height="187"
                  preserveAspectRatio="xMidYMid slice"
                  clip-path="url(#wavyClip)"
                />
              </svg>
            );
          })
        }
      </div> */
      }
      <CarouselGallery galleryItems={galleryItems} />
    </div>
  </div>
</section>
