---
import { Icon } from 'astro-icon/components';
import CarouselGallery from '../../components/CarouselGallery.astro';
type Translations = typeof import('../../i18n/es').default;
type GalleryContent = Translations['menu']['gallery'];
interface Props {
  content: GalleryContent;
}
const { content } = Astro.props as Props;
const galleryItems = [
  {
    imgSrc: '/menu/gallery-1.webp',
  },
  {
    imgSrc: '/menu/gallery-2.webp',
  },
  {
    imgSrc: '/menu/gallery-3.webp',
  },
  {
    imgSrc: '/menu/gallery-4.webp',
  },
  {
    imgSrc: '/menu/gallery-5.webp',
  },
  {
    imgSrc: '/menu/gallery-6.webp',
  },
  {
    imgSrc: '/menu/gallery-1.webp',
  },
  {
    imgSrc: '/menu/gallery-2.webp',
  },
  {
    imgSrc: '/menu/gallery-3.webp',
  },
  {
    imgSrc: '/menu/gallery-4.webp',
  },
  {
    imgSrc: '/menu/gallery-5.webp',
  },
  {
    imgSrc: '/menu/gallery-6.webp',
  },
  {
    imgSrc: '/menu/gallery-1.webp',
  },
  {
    imgSrc: '/menu/gallery-2.webp',
  },
  {
    imgSrc: '/menu/gallery-3.webp',
  },
  {
    imgSrc: '/menu/gallery-4.webp',
  },
  {
    imgSrc: '/menu/gallery-5.webp',
  },
  {
    imgSrc: '/menu/gallery-6.webp',
  },
];
const currentPath = Astro.url.pathname;
const normalized = currentPath.replace(/^\/(en|es)/, '') || '/';
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="bg-white w-full flex justify-center items-center relative"
>
  <Icon
    name={'fondo-menu'}
    class={'absolute top-0 w-full h-auto z-10 left-0'}
    style="--fondo-color:#FCB102; --wave-color:#147F00; --dots-color:#FCB102"
  />
  <div
    class="w-full max-w-screen md:w-[1211px] px-6 xl:px-0 pt-[100px] md:pt-[121px] pb-15 flex flex-col justify-center items-center gap-[79px]"
  >
    <div class="w-full flex flex-col justify-center items-start gap-5 border-b border-b-black/30 pb-8 ">
      <h3 class="text-accent-3 text-[24px] font-bold leading-[120%] uppercase">
        {content.title1}
      </h3>
      <p class="text-[24px] font-bold leading-[120%] uppercase">{content.description}</p>
      <nav class="flex justify-center items-center gap-8 flex-wrap">
        {
          content.menus.map((item) => (
            <a
              href={`/${lang}/menu/${item.href}`}
              class="bg-accent-3 hover:bg-accent-2 transition-all duration-300 ease-in-out flex justify-center items-center gap-2 pl-1.5 pr-4 py-[5px] rounded-4xl"
            >
              <div class="bg-white p-2 rounded-full flex justify-center items-center ">
                <Icon name={item.icon} class="w-6 h-6" />
              </div>
              <span class="text-[20px] font-normal leading-[120%] text-white">
                {item.label}
              </span>
            </a>
          ))
        }
      </nav>
    </div>
    <div class="w-full flex flex-col justify-center items-center gap-[50px]">
      <h2
        set:html={content.title}
        class="text-[37px] font-bold text-black leading-[121%] uppercase text-center"
      />
      <CarouselGallery galleryItems={galleryItems} />
    </div>
  </div>
</section>
