---
import { Icon } from 'astro-icon/components';

type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['menu']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
const currentPath = Astro.url.pathname;
const normalized = currentPath.replace(/^\/(en|es)/, '') || '/';
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="bg-accent-1 h-full min-h-[634px] md:min-h-[500px] flex items-start justify-center w-full pt-[147px] relative"
>
  <div class="w-full absolute top-0 left-0 z-10">
    <div class="shrink-0 overflow-hidden relative h-[175px]">
      <img
        src="/header-2.webp"
        alt="Header de Los Amecas"
        height="97"
        width="1509"
        class="absolute inset-0 w-full h-full object-cover object-bottom"
      />
    </div>
  </div>
  <div
    class="w-full max-w-screen md:w-[1211px] px-6 xl:px-0 flex flex-col justify-center items-start gap-5 md:gap-[26px] relative z-30 h-full"
    data-aos="zoom-in"
    data-aos-offset="200"
  >
    <div
      class="flex flex-col justify-center items-start w-full relative gap-[26px]"
    >
      <div
        class="bg-white flex justify-center items-center gap-3 px-4 py-[15px] rounded-[10px]"
      >
        <div class="w-2.5 h-2.5 bg-accent-2 rounded-full"></div>
        <nav class="flex justify-center items-center gap-2 h-4">
          {
            content.nav.map((item, i) => {
              const itemPathWithoutHash = item.href.split('#')[0];
              const isActive = normalized === itemPathWithoutHash;
              const isLast = i === content.nav.length - 1;
              return (
                <>
                  <a
                    href={`/${lang}${item.href}`}
                    class={` uppercase mr-1 text-[15px] font-light leading-4 ${isActive ? 'text-accent-3 font-normal' : ''}`}
                  >
                    {item.label}
                  </a>
                  {!isLast && (
                    <p class="text-[15px] font-light leading-4 mr-1">{`>`}</p>
                  )}
                </>
              );
            })
          }
        </nav>
      </div>
      <h1 class="text-[37px] font-bold leading-[121%] uppercase text-white">
        {content.title}
      </h1>
    </div>
    <div class="flex w-full flex-col md:flex-row justify-between items-center">
      <p
        class="text-[16px] font-normal leading-[140%] max-w-[400px] lg:max-w-[454px] text-white"
      >
        {content.text}
      </p>
      <div
        class="relative md:absolute flex justify-center items-center right-6 xl:right-28 z-20"
      >
        <div class="relative">
          <img
            src="/menu/image-2.webp"
            alt="Imagen 2"
            width="366"
            height="264"
            class="w-[300px] md:w-[320px] h-auto"
            decoding="async"
            loading="eager"
          />
          <img
            src="/menu/image-1.webp"
            alt="Imagen 1"
            width="283"
            height="284"
            class="w-60 md:w-[200px] xl:w-[233px] h-auto absolute z-10 -bottom-32 -right-[70px] md:right-0 xl:-right-20"
            decoding="async"
            loading="eager"
          />
        </div>
      </div>
    </div>
  </div>
</section>
