---
type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['menu']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
const currentPath = Astro.url.pathname;
const normalized = currentPath.replace(/^\/(en|es)/, '') || '/';
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section class="bg-accent-2 min-h-[502px] flex items-center justify-center relative w-full">
  <div
    class="w-full max-w-screen md:w-[1211px] px-6 xl:px-0 flex flex-col justify-center items-start gap-[35px]"
  >
    <div class="flex justify-center items-center w-full relative">
      <div
        class="bg-white flex justify-center items-center gap-3 px-4 py-[15px] rounded-[10px] absolute left-0"
      >
        <div class="w-2.5 h-2.5 bg-accent-2 rounded-full"></div>
        <nav class="flex justify-center items-center gap-2">
          {
            content.nav.map((item, i) => {
              const itemPathWithoutHash = item.href.split('#')[0];
              const isActive = normalized === itemPathWithoutHash;
              const isLast = i === content.nav.length - 1;
              return (
                <>
                  <a
                    href={`/${lang}${item.href}`}
                    class={` uppercase mr-2 ${isActive ? 'text-accent-3' : ''}`}
                  >
                    {item.label}
                  </a>
                  {!isLast && <p class="mr-2">{`>`}</p>}
                </>
              );
            })
          }
        </nav>
      </div>
      <h1 class="text-[37px] font-bold leading-[121%] uppercase text-white">
        {content.title}
      </h1>
    </div>
    <div class="flex justify-center items-center">
      <p class="text-[16px] font-normal leading-[140%] max-w-[454px] text-white">{content.text}</p>
    </div>
  </div>
  <img src="/menu-back.webp" alt="Fondo de sección menú" width="335" height="324" class="absolute top-0 right-0 w-[335px] h-auto" />
</section>
