---
import { Icon } from 'astro-icon/components';

type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['catering']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
const currentPath = Astro.url.pathname;
const normalized = currentPath.replace(/^\/(en|es)/, '') || '/';
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<!-- SVG overlay con Tailwind -->
<section
  class="relative bg-accent-2 flex justify-center min-h-[645px] sm:min-h-[450px] items-start w-full overflow-hidden"
>
  <div class="w-full absolute top-0 left-0 z-10">
    <div class="shrink-0 overflow-hidden relative h-[175px]">
      <img
        src="/header-2.webp"
        alt="Header de Los Amecas"
        height="97"
        width="1509"
        class="absolute inset-0 w-full h-full object-cover object-bottom"
      />
    </div>
  </div>
  <div
    class="w-full max-w-screen xl:w-[1211px] px-6 xl:pl-0 h-full pt-[134px] z-30 flex flex-col lg:flex-row justify-center lg:justify-between items-cener sm:items-end lg:items-center lg:pr-0 g:pr-14 pb-12 lg:pb-0"
    data-aos="zoom-out" data-aos-offset="200"
  >
    <div class="gap-8 w-full flex flex-col justify-center items-start">
      <div
        class="bg-white flex justify-center items-center gap-3 px-4 py-[15px] rounded-[10px]"
      >
        <div class="w-2.5 h-2.5 bg-accent-2 rounded-full"></div>
        <nav class="flex justify-center items-center gap-2 h-4">
          <!-- Tu código de navegación -->
          {
            content.nav.map((item, i) => {
              const itemPathWithoutHash = item.href.split('#')[0];
              const isActive = normalized === itemPathWithoutHash;
              const isLast = i === content.nav.length - 1;
              return (
                <>
                  <a
                    href={`/${lang}${item.href}`}
                    class={` uppercase mr-1 text-[15px]  leading-4 ${isActive ? 'text-accent-3 font-bold' : 'font-light'}`}
                  >
                    {item.label}
                  </a>
                  {!isLast && (
                    <p class="text-[15px] font-light leading-4 mr-1">{`>`}</p>
                  )}
                </>
              );
            })
          }
        </nav>
      </div>
      <h1 class="text-[40px] leading-[110%] uppercase text-white">
        {content.title}
      </h1>
      <p
        class="text-[16px] font-normal leading-[140%] max-w-[454px] text-white"
      >
        {content.text}
      </p>
    </div>
    <img
      src="/catering/catering-2.webp"
      alt="Imagen de fondo del Catering"
      width="315"
      height="256"
      class="w-[250px] lg:w-[315px] h-auto translate-y-5"
      decoding="async"
      loading="eager"
    />
  </div>
</section>
